@media only screen and (max-width: 1200px){
  .card h2{
    font-size: 23px;
  }
}

@media only screen and (max-width: 992px){

  body,
  .intro-paragraph,
  option{
    font-size: 14px
  }

  .card h2,
  .card p{
    font-size: 15px;
  }


}

@media only screen and (max-width: 767px){

}

@media only screen and (max-width: 564px){

}
